.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: white;
  z-index: 300;
  border-radius: 10px;
  width: 280px;
  height: 580px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 14px 12px;
}

.modal.open {
  display: block;
}

.modal__title {
  font-weight: 500;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 3px;
  right: 3px;
}

.modal__close svg {
  color: darkgreen;
  transition: all 0.4s ease;
  border-radius: 50%;
}

.modal__close svg:hover {
  background-color: green;
  color: white;
}

.modal__close svg:active {
  background-color: white;
  color: red;
}

.modal__submit {
  background-color: green;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.1s;
}

.modal__submit:active {
  scale: 0.95;
  background-color: green;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 700px) {
  .modal {
    width: 380px;
  }

  .modal__form {
    padding: 20px;
  }

  .modal__title {
    font-weight: 600;
    font-size: 18px;
  }

  .modal__submit {
    height: 35px;
  }
}

@media (min-width: 1300px) {
  .modal {
    width: 480px;
  }

  .modal__form {
    padding: 30px;
  }

  .modal__form-input {
    height: 50px;
  }

  .modal__submit {
    height: 40px;
  }
}